.layout {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    max-height: 70px;
    padding: 16px 50px;

    .content {
      max-width: 1200px;
      width: 100%;
      padding: 0 16px;
      margin: 0 auto;

      .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-weight: 800;

        img {
          width: 30px;
          height: 30px;
          border-radius: 6px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .blur {
      left: 0;
      right: 0;

      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: -40%;
      z-index: -1;
      -webkit-filter: blur(130px);
      filter: blur(130px);
      height: 40%;
      max-height: 500px;
      min-height: 300px;
      width: 80%;
      min-width: 300px;
      max-width: 800px;
      background: linear-gradient(267.2deg, #b794f4, #b794f4);
    }
  }
}
